
<!-- start of sidenav -->
<aside><div class="sidenav position-sticky d-flex flex-column justify-content-between">
    <a class="navbar-brand" href="index.html" class="logo">
        <img src="images/logo.png" alt="logo" class="logo">
    </a>
    <!-- end of navbar-brand -->

    <div class="navbar navbar-dark my-4 p-0 font-primary">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <a class="nav-link text-white px-0 pt-0" href="index.html">Inicio</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="about.html">Sobre mi</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="contact.html">Contacto</a>
            </li>
        </ul>
    </div>
    <!-- end of navbar -->

    <ul class="list-inline nml-2">
        <li class="list-inline-item">
            <a href="https://wa.me/5491135936995" class="text-white text-primary-onHover p-2">
                <span class="fab fa-whatsapp"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/franco-h-ibarra/" class="text-white text-primary-onHover p-2">
                <span class="fab fa-linkedin-in"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/xdigifranx" class="text-white text-primary-onHover p-2">
                <span class="fab fa-github"></span>
            </a>
        </li>
    </ul>
    <!-- end of social-links -->
</div></aside>
<!-- end of sidenav -->